

.footerSection{
    border-radius: 50px 50px 0px 0px;
    background: linear-gradient(119deg, rgba(255, 233, 233, 0.70) -4.78%, rgba(255, 255, 255, 0.70) 64.5%, rgba(255, 214, 214, 0.70) 111.91%);
    box-shadow: 0px -5.32225px 22.61954px 0px rgba(78, 75, 102, 0.15);
    backdrop-filter: blur(19.95842170715332px);
}

.footerSection ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerSection ul li,
.footerSection ul li a,
.addressTitle,
.addressText{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #555;
}

.footerMainCol .lead{
    font-size: 16px;;
    text-align: left;
}

.addressTitle{
    font-weight: 500;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* footer top */
.footerTop{
    max-width: 1600px;
    width: 100%;
    margin: auto;
    position: relative;
}
.footerTopInnerContent{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 35px 0 25px 0;
}
.footerTopInnerContent ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footerLeftLogo,
.footerRighttLogo{
    width: 250px;
}

.footerLeftLogo{
    display: none;
}
.footerRightLogo img{
    width: 233px;
    height: 58px;
    display: flex;
}

/* footer main */
.footerMain{
    max-width: 1600px;
    width: 100%;
    margin: auto;
    position: relative;
}
.footerMainContent{
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.footerMainCol{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.titleWrapper{
    margin-bottom: 15px;
}
.title{
    font-size: 20px;
    line-height: 42px;
    font-weight: 500;
    color: #333F50;
    text-transform: uppercase;
}

.downloadAppLink{
    display: flex;
    gap: 14px;
}
.downloadAppLink > div{
    width: calc(100% / 2 - 10px);
}

.socialNavList span{
    display: flex;
}

.footerMainCol .lead{
    text-align: center;
}


/* socket */
.socket{
    padding: 25px 0px;
}
.socketText{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #333F50;
    text-align: center;
}
.footerBottom{
    max-width: 1600px;
    width: 100%;
    margin: auto;
}
.socketText span{
    color: #DE1F26;
}

.hr::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20%);
    height: 1px;
    background-color: #D9DBE9;
}


@media(min-width:768px){

    .footerMainCol{
        width: calc(100% / 2 - 13px);
    }

}
@media(min-width:992px){
    .footerMainCol{
        align-items: flex-start;
        text-align: left;
    }
    .footerMainCol .lead{
        text-align: left;
    }
    .footerTopInnerContent{
        flex-direction: row-reverse;
    }
    .hr::before{
        width: 100%;
    }
}
@media(min-width:1367px){
    .footerMainCol{
       width: calc(100% / 4 - 19px);
    }

    .footerTopInnerContent{
        flex-direction: row;
    }
    .footerLeftLogo{
        display: flex;
    }
    .hr::before{
        width: calc(100% - 4%);
    }
    
}

@media(min-width:1800px){
    .footerSection{
        border-radius: 150px 150px 0px 0px;
    }
}